.icon{
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
}
.ui-icon-myicon1:after{
	background-image: url("../images/nav_2.png");
	background-size: 18px 18px;
}
img{
	width: 5rem;
	height: 5rem;
	margin-left: 40%;
	margin-top: 30%;
}
#page{
	background: linear-gradient(to right,yellow,#fff001);
}
input[type=text]:focus, input[type=password]:focus {
	background: none;
	border: 2px solid #f00;
	border-top: none;
	border-right: none;
	border-left: none;
}